/* ==========
Base Styles
=================
*/
/*border-box tells the browser to account for any border and padding in the values you specify for an element's width and height*/
*{
  box-sizing: border-box;
}

html {
  background-color: #FAF7F7;
  font-family: 'Roboto', sans-serif;
  font-size: 1.125em;
  line-height:150%;
}
/* to prevent collapsing margins set top margin to 0 */
h1 {
  margin:0;
}
h2 {
  text-transform: uppercase;
  font-size: 1.125em;
}
h3{
  font-weight: 400;
  font-size: 1.438em;
}
a {
  text-decoration: none;
}
/* hover color only on nav menu */
.main-nav a.nav-link:hover{
  background-color: silver;
}


/* =====================
Base Layout
===================== */

/* ---- Navigation ---- */

#top{
  margin: 1.3em 0;

}
.main-nav a,
.footer-nav a{
  display: block;
  padding: 10px 15px;
  list-style: none;
  color: black;
  text-transform: uppercase;
  font-weight: bold;
}




/* ---- Layout Containers ---- */


.container{
  display: block;
  text-align: center;
  margin: 1em 0;

}

#middle,
#bottom{
  padding: 1em 0 2em;
}

.main-nav li{
  background-color: white;
  margin: .5em 1em;
}
.avatar{
  max-width: 70%;
  height: auto;
  margin-top: 2em;
}

.images{
 width: 100%;
  height: auto;
}

.card {
  margin: 1em 1em 0;
  padding: 1em;
  background-color: white;
}

.card,
.contact{
  text-align: center;
}
.container,
.contact{
  margin: 0 2em;
}

.contact{
  display: block;
  padding: 2.5em 0 3.5em;
  border-bottom: solid 1px #737171;
}
.phone{
  display: block;
  padding: 1em 0;
}

.foot-name,
.foot-link{
  display: inline-block;
  margin: 1.5em 1em;
  font-weight: bold;
}
.foot-name{
  float:left;
  padding-left: 20px;

}

.foot-link,
.footer-nav{
  width:auto;
  float:right;
  padding-right: 20px;
  color: black;
}
.footer-nav{
  width:auto;
  float:right;
  padding-right: 20px;
  /* margin: 1.5em 1em; */
  color: black;
}


/* =====================
Media Queries
===================== */
/* If [device width] is less than or equal to 767px, then do {...}*/

@media (max-width:767px){
  .footer-nav{
    display:none;
  }
}

/* If [device width] is greater than or equal to 768px, then do {...} */
 @media (min-width: 768px){
   .head{
     width:100%;
     margin:0;
     justify-content: center;
     margin-bottom: 2em;
   }
   .main-nav li,
   .footer-nav li{
     display: inline-block;
     background-color: #FAF7F7;

   }
   .container{
     display: inline-block;
     margin-bottom: 2em;
   }
   .avatar{
     float:right;
     margin-left: 5px;
     margin-top: 0;
   }
   .container-p{

     text-align: left;
     margin: 0;
   }
   .card{
     display: inline-block;
   }

   .marketing,
   .travel,
   .photo{
     width: 45%;
     float:left;
     margin-left: 1em;
     margin-bottom: 1em;
   }
   .search,
   .map,
   .calc{
     width: 45%;
     float: right;
     margin-right: 1em;
     margin-bottom: 1em;
   }
   .foot-link{
     display: none;
   }
   /* .footer-nav{
     width:auto;
     float:right;
     padding-right: 20px;
     margin: 1.5em 1em;
     color: black;

   } */

}
.clear-fix:after {
    content: "";
    display: table;
    clear: both;
}

@@media (min-width 1024px) {

}
