/* ==========
Base Styles
=================
*/
/*border-box tells the browser to account for any border and padding in the values you specify for an element's width and height*/
*{
  box-sizing: border-box;
}

html {
  background-color: #FAF7F7;
  font-family: 'Roboto', sans-serif;
  font-size: 1.125em;
  line-height:150%;
}
/* to prevent collapsing margins set top margin to 0 */
h1 {
  margin:0;
}
h2 {
  text-transform: uppercase;
  font-size: 1.125em;
}
h3{
  font-weight: 400;
  font-size: 1.438em;
}
a {
  text-decoration: none;
}
/* hover color only on nav menu */
.main-nav a.nav-link:hover{
  background-color: silver;
}


/* =====================
Base Layout
===================== */

/* ---- Navigation ---- */

#top{
  margin: 1.3em 0;

}
.main-nav a,
.footer-nav a{
  display: block;
  padding: 10px 15px;
  list-style: none;
  color: black;
  text-transform: uppercase;
  font-weight: bold;
}




/* ---- Layout Containers ---- */


.container{
  display: block;
  text-align: center;
  margin: 1em 0;

}

#middle,
#bottom{
  padding: 1em 0 2em;
}

.main-nav li{
  background-color: white;
  margin: .5em 1em;
}
.avatar{
  max-width: 70%;
  height: auto;
  margin-top: 2em;
}

.images{
 width: 100%;
  height: auto;
}

.card {
  margin: 1em 1em 0;
  padding: 1em;
  background-color: white;
}

.card,
.contact{
  text-align: center;
}
.container,
.contact{
  margin: 0 2em;
}

.contact{
  display: block;
  padding: 2.5em 0 3.5em;
  border-bottom: solid 1px #737171;
}
.phone{
  display: block;
  padding: 1em 0;
}

.foot-name,
.foot-link{
  display: inline-block;
  margin: 1.5em 1em;
  font-weight: bold;
}
.foot-name{
  float:left;
  padding-left: 20px;

}

.foot-link,
.footer-nav{
  width:auto;
  float:right;
  padding-right: 20px;
  color: black;
}
/* .footer-nav{
  width:auto;
  float:right;
  padding-right: 20px;
  /* margin: 1.5em 1em;
   color: black;
} */


/* =====================
Media Queries
===================== */
/* If [device width] is less than or equal to 767px, then do {...}*/

@media (max-width:767px){
  .footer-nav{
    display:none;
  }
}

/* If [device width] is greater than or equal to 768px, then do {...} */
 @media (min-width: 768px){
   .head{
     width:100%;
     margin:0;
     justify-content: center;
     margin-bottom: 2em;
   }
   .main-nav li,
   .footer-nav li{
     display: inline-block;
     background-color: #FAF7F7;

   }
   .container{
     display: inline-block;
     margin-bottom: 2em;
   }
   .avatar{
     float:right;
     margin-left: 5px;
     margin-top: 0;
   }
   .container-p{

     text-align: left;
     margin: 0;
   }
   .card{
     display: inline-block;
   }

   .marketing,
   .search,
   .travel{
     width: 45%;
     float:left;

     margin-left: 1em;
     margin-bottom: 1em;
   }

   .map,
   .photo,
   .calc{
     width: 45%;
     float: right;

     margin-right: 1em;
     margin-bottom: 1em;
   }
   .foot-link{
     display: none;
   }

}


@media (min-width: 1025px) {
  .html{
    font-size: 1.313em;

  }
  .head{
    margin-bottom: 0;
    margin-left: 0;
  }
  .container{
    display: inline-block;
    margin:0 2em;
  }
  .card{
    clear: both;
  }
  /* .main-header{
    margin-bottom: 2em;
  } */

  #top{
    float:left;

  }
  /*
note: when floating ul right, li will list backwards
  .main-nav ul,
  .footer-nav ul{
    float: right;
  } */
  .main-nav li,
  .footer-nav li{
    float: right;
}

  .main-nav{
    margin: 1.6em 2em 0 0;
  }
  .avatar{
    width:40%;
    margin: 0 0 2em 2em;
  }
  .container-p{
    width:50%;
  }

/* --- Floating the Portfolio---*/

  /* --the first attempt was to replicate the mockup exactly, the selector sequence actually switched the layout.

  this second attempt was to select in order and float based on position.  is that it fits perfect at one screen width however, as you scale, the line-up of the photos starts to skew--

  .marketing,
  .map{

    float:left;
    width: 30%;
    height:auto;
    margin: 0 auto;

  }
  .search,
  .photo{

    float: center;
    width: 30%;
    height:auto;
    margin: 0 auto;
  }
  .travel,
  .calc{
    width: 30%;
    height:auto;
    float:right;
    margin: 0 auto;
  } */


/* Here I followed Dave's "column layout with meida queries" but I still have no idea what I'm doing.*/
  .card{
    width: 90%;
    max-width: 1150px;
  }
  .card-info{
    width:33%;
    margin: auto;
		min-height: 450px;
  }
}

/*----- clear-fix -----*/
.clear-fix:after {
    content: "";
    display: table;
    clear: both;
}
