/* ==========
Base Styles
=================
*/
/*border-box tells the browser to account for any border and padding in the values you specify for an element's width and height*/
*{
  box-sizing: border-box;
}

body {
  background-color: #FAF7F7;
  font-family: 'Roboto', sans-serif;
  font-size: 1.125em;
  line-height:150%;
  text-align: center;
  padding: 25px;
}
/* to prevent collapsing margins set top margin to 0 */
h1 {
  margin:0;
  font-family: 'Poppins', sans-serif;
}
h2 {
  font-family: 'Poppins', sans-serif;
  text-transform: uppercase;
  font-size: 1.125em;
}
h3{
  font-weight: 400;
  font-size: 1.438em;
}
a {
  text-decoration: none;
}
/* hover color only on nav menu */
.main-nav a.nav-link:hover{
  background-color: gray;
}


img{
  width:100%;
}
.foot-name{
  font-family: 'Poppins', sans-serif;
}


/* =====================
Base Layout
===================== */

/* ---- Navigation ---- */

#top{
  margin: 1.3em 0;
}

.main-nav a,
.footer-nav a{
  display: block;
  padding: 10px 15px;
  list-style: none;
  color: black;
  text-transform: uppercase;
  font-weight: bold;
}

/* ---- Layout Containers ---- */

.container{
  display: block;
  width: 100%;
  padding: 1em 0;
}

#middle{
  padding: 1em 0 2em;
}

#bottom{
  padding: 0 0 2em;
}
.main-nav li{
  background-color: white;
  margin: .5em 1em;
}
.avatar{
  max-width: 50%;
  height: auto;
  margin-top: 2em;
}

.card {
  width: 100%;
  margin: 1em 0 0;
  padding: 1em;
  background-color: white;
}


.container,
.contact{
  padding: 0 2em;
}

.box{

}
.experience{
  padding: 2.5em 0 2.5em;
}
.contact{
  display: block;
  padding: 0 0 3.5em;
  border-bottom: solid 1px #737171;
}
.phone{
  display: block;
  padding: 1em 0;
}

.foot-name,
.foot-link{
  display: inline-block;
  font-weight: bold;
}
.foot-name{
  float:left;
  margin: 1.5em 0 1.5em 1em;
}
.foot-link{
  margin: 1.5em 1em 1.5em 0;
}

.foot-link,
.footer-nav{
  width:auto;
  float:right;
  /* padding-right: 20px; */
  color: black;
}



/* =====================
Media Queries
===================== */
/* If [device width] is less than or equal to 767px, then do {...}*/

@media (max-width:767px){
  .footer-nav{
    display:none;
  }
}

/* If [device width] is greater than or equal to 768px, then do {...} */
 @media (min-width: 768px){
   .main-header{
     width:100%;
     margin:0;
     justify-content: center;
     margin-bottom: 2em;
   }
   .main-nav li,
   .footer-nav li{
     display: inline-block;
     background-color: #FAF7F7;

   }
   .container,
   .card{
     display: inline-block;

   }
   .avatar{
     float:right;
     margin: 0 10px;
     max-width: 30%;
     height:auto;
   }
   .container-p{

     text-align: left;
     margin-top: 2em;
   }
   .box{
     float: left;
     width: 50%;
   }
   .box:nth-of-type(odd) {
    padding-right: 15px;
  }

  .box:nth-of-type(even) {
    padding-right: 15px;
  }
  .main-footer{
    width: 100%;
  }
  .foot-link{
    display: none;
  }

  /* .foot-name{
    float:left;
  } already established above?*/
  .footer-nav{
    float:right;
    margin: 1.5em 1em;
  }


}


@media (min-width: 1024px) {
  .html{
    font-size: 1.313em;

  }
  .main-header{
    margin-bottom: 0;
    margin-left: 0;
  }
  .container{
    display: inline-block;
    margin:0 2em;
    width: 100%;
    max-width: 1150px;
  }
  .card{
    clear: both;
  }
  .box{
    width: 33%;
  }
  .contact-p{
    width:80%;
    display: inline-block;
    padding: 0 50px 50px;
  }

  #top{
    float:left;

  }
  /*
note: when floating ul right, li will list backwards
  .main-nav ul,
  .footer-nav ul{
    float: right;
  } */
  .main-nav li
/* .footer-nav li */{
    float: right;
}

  .main-nav{
    margin: 1.6em 2em 0 0;
    float:right;
  }
  .avatar{
    width:40%;
    margin: 0 2em 2em 0;
  }
  .container-p{
    width:50%;
  }

  .main-footer{
    max-width: 1150px;
  }

  .card{
    width: 100%;
    max-width: 1250px;
  }

}

/*----- clear-fix -----*/
.clear-fix:after {
    content: "";
    display: table;
    clear: both;
}
